    <div class="learn-task-start-modal" id="learn-task-start-modal" hidden>
      <div class="learn-task-start-modal__mask" data-learn-task-start-close></div>
      <div
        class="learn-task-start-modal__dialog"
        role="dialog"
        aria-modal="true"
        aria-labelledby="learn-task-start-modal-title"
      >
        <button type="button" class="learn-task-start-modal__close" data-learn-task-start-close aria-label="关闭">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M3.5 3.5l7 7M10.5 3.5l-7 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
          </svg>
        </button>
        <div class="learn-task-start-modal__hero" aria-hidden="true">
          <img
            class="learn-task-start-modal__cat"
            src="assets/learn-task-start-cat.png"
            width="96"
            height="128"
            alt=""
          />
        </div>
        <div class="learn-task-start-modal__body">
          <h2 class="learn-task-start-modal__title" id="learn-task-start-modal-title">开始你的 <b>7</b> 天学习任务</h2>
          <p class="learn-task-start-modal__desc">
            您可以选择任意一门有权益的课程开始学习，每天学习 <b>10</b> 分钟即可完成当日任务
          </p>
        </div>
        <div class="learn-task-start-modal__actions">
          <button type="button" class="learn-task-start-modal__btn learn-task-start-modal__btn--ghost" data-learn-task-start-close>
            我再看看
          </button>
          <button type="button" class="learn-task-start-modal__btn learn-task-start-modal__btn--primary" data-learn-task-start-go>
            去学习
          </button>
        </div>
      </div>
    </div>
