<footer class="site-footer">
      <div class="site-footer__inner">
        <div class="footer-friends">
          <span class="footer-friends__label">友情链接</span>
          <nav class="footer-friends__links" aria-label="友情链接">
            <a href="#">广联达</a>
            <a href="#">数字高校</a>
            <a href="#">斑马进度</a>
            <a href="#">中国数字建筑峰会</a>
            <a href="#">中国建筑峰会</a>
          </nav>
        </div>
        <hr class="footer-divider" />
        <div class="footer-bottom">
          <div class="footer-brand__logos">
            <img class="footer-brand__logo footer-brand__logo--glodon" src="assets/footer-glodon-logo.png" width="200" height="36" alt="广联达" />
            <img class="footer-brand__logo footer-brand__logo--yunke" src="assets/mastergo/e5dccb6e1b2b0d968775ac17586791a3.png" width="136" height="36" alt="建筑云课" />
          </div>
          <p class="footer-brand__copy">
            广联达教育GLodon Education www.glodonedu.com<br />
            Glodon 1998-2020 广联达科技股份有限公司 京ICP备10021606号-13 京公网安备11010802021391号
          </p>
        </div>
      </div>
    </footer>
